.guilds_c48ade {
  position: fixed;
  z-index: 998;
  height: 100vh;
  overflow: visible;
  width: 100vw;
  background-color: rgb(0 0 0 / 0);
  pointer-events: none;
}

.guilds_c48ade:has(.itemsContainer_ef3116:hover) {
  background-color: rgb(0 0 0 / 0.25);
  pointer-events: all;
}

.itemsContainer_ef3116 {
  position: fixed;
  left: calc(0px - var(--custom-guild-list-width));
  transition: all 0.3s;
  pointer-events: all;
  background: var(--background-base-lowest) !important;
  border-right: 1px solid var(--border-subtle);
}

.itemsContainer_ef3116:hover {
  left: 0px;

  &::after {
    opacity: 0;
        left: 0px;
  }
}

.itemsContainer_ef3116::after {
  content: "→";
  width: 40px;
  height: 40px;
  font-size: 32px;
  position: absolute;
  align-content: center;
  text-align: center;
  top: 8px;
  left: calc(var(--custom-guild-list-width));
  cursor: pointer;
  color: var(--button-secondary-text);
  background-color: var(--background-accent);
  z-index: 20;
  transition: all 0.3s;
  border-radius: 0px var(--radius-sm) var(--radius-sm) 0px;
}
